body {
  margin: 0px;
}

canvas {
  background-color: rgb(80, 34, 80);
}

img {
  display: none;
}

#specialMessage{
  background-color: rgb(80, 34, 80);
  color:antiquewhite;
  font-family: fantasy;
}


